/* Empty css file that users can override in their own /assets/css/custom.css file */

.bullet {
	text-decoration: none;
	font-size: 18px;
}

a:hover {
	color: #ccccff !important;
}

.technologies {
	display: flex;
}

.technologies a {
	margin-right: 16px;
    text-decoration: none !important;
}

.technologies img {
	max-height: 32px;
	padding: 2px;
}

img {
	margin: auto;
}

@media(prefers-color-scheme: light) {}

