@font-face {
    font-family: Abril-Fatface;
    src: url("assets/fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: FiraSans;
    src: url("assets/fonts/FiraSans-Regular.ttf");
}


@font-face {
    font-family: FiraSans;
    src: url("assets/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

:root {
    --background-color: #faf9f6;
    --color: #222222;
    --hover-color: #3688cc;
    --accent-color: #131313;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #131313;
        --color: #c9c9c9;
        --hover-color: #ebebeb;
        --accent-color: #515151;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: FiraSans;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img.profile {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Abril-Fatface;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0.125rem;
    margin-top: 0.75rem;
}

div.content {
    display: grid;
    grid-template-columns: 1fr;
}

div.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a:hover {
    fill: (--hover-color);
    color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0 0 0 1px var(--hover-color);
}

a, div.card {
    text-decoration: none;
    fill: var(--color);
    color: var(--color);
    border: 1px solid var(--accent-color);
    border-radius: 0.25rem;
    margin: 8px;
    box-shadow: 0 0 0 transparent;
    transition: 0.1875s all ease;
}

div.card {
    text-align: center;
    padding: 01rem;
}

.card {
    padding: 0.625rem;
    padding-bottom: 0.25rem;
    display: block;
    box-sizing: border-box;
}

a.card img {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    margin-right: 8px;
    transition: 0.25s all ease;
    border: 1px solid var(--accent-color);
}

a.card:hover img {
    border-color: var(--hover-color);
}

a.card p {
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
    margin-top: 0;
    font-style: italic;
}

a.link {
    padding-top: 0.5rem;
    text-align: center;
}

a.link p {
    margin-top: 0.25rem;
    font-style: italic;
}

@media (min-width: 1024px) {
    div.content, div.links {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    div.content {
        width: 95%;
        grid-template-columns: 1fr;
    }

    div.links {
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 210px;
        padding-bottom: 180px;
    }

    a.card p {
        width: 70%;
    }
}